.input__comp{
    height: 15%;
    background: var( --color-bg-variant);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.send{
    color: var(--color-primary);
    display: flex;
    padding: 1rem;
}

.send__icon{
    font-size: 1.4rem;
    cursor: pointer;
}